.chart-container{
    height: 40rem;
    width: 60rem;
    background-color: rgb(216, 224, 224);
    display: flex;
    flex-direction: column;
}

.chart-wrapper-container{
    display: flex;
    flex-direction: row;
    flex: 1;
}

@media only screen and (max-width: 600px) {
  
    .chart-container{
      width: 100%;
      padding: 0px 10px;
    }
  }